<form class="flex flex-col gap-2.5" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-1">
    <label class="text-xs font-medium text-slate-300 sm:text-sm" for="email">Email</label>

    <input
      id="email"
      type="email"
      formControlName="email"
      autocomplete="username"
      class="w-full rounded-lg border border-slate-500/30 bg-slate-950/50 px-2.5 py-2 text-sm text-slate-100 outline-none focus:border-blue-500/50 focus:ring-2 focus:ring-blue-500/50"
    />

    <div class="mt-0.5 min-h-4.5">
      @if (email.touched && email.invalid) {
        <p class="text-xs leading-tight text-red-400 sm:text-sm">
          Please enter a valid email address.
        </p>
      }
    </div>
  </div>

  <div class="flex flex-col gap-1">
    <label class="text-xs font-medium text-slate-300 sm:text-sm" for="password">Password</label>

    <input
      id="password"
      type="password"
      formControlName="password"
      class="w-full rounded-lg border border-slate-500/30 bg-slate-950/50 px-2.5 py-2 text-sm text-slate-100 outline-none focus:border-blue-500/50 focus:ring-2 focus:ring-blue-500/50"
    />

    <div class="mt-0.5 min-h-4.5">
      @if (password.touched && password.invalid) {
        <p class="text-xs leading-tight text-red-400 sm:text-sm">Password is required.</p>
      }
    </div>
  </div>

  <label class="flex cursor-pointer items-center gap-2 text-xs text-slate-300 sm:text-sm">
    <input
      type="checkbox"
      formControlName="rememberMe"
      class="size-4 rounded border-slate-500/50 bg-slate-950/50 text-blue-600 focus:ring-blue-500/50"
    />

    <span>Remember my email on this device</span>
  </label>

  <button
    class="mt-1 w-full rounded-xl bg-blue-600 py-2.5 text-[0.9rem] font-semibold text-white transition hover:bg-blue-500 disabled:cursor-not-allowed disabled:opacity-50 sm:text-[0.95rem]"
    type="submit"
    [disabled]="isSubmitting()"
  >
    {{ isSubmitting() ? 'Signing in...' : 'Sign in' }}
  </button>
</form>
